*.ipynb
OCLC_Authentication_examples.md
response.json
curlAPI.sh
*.yaml
oclc/
Docs/
analysis/
extras/
lib/__pycache__/
__pycache__/
*.json
*.sqlite
*.xml
*.db
*.txt
*.bak
test.py
test_data/
data/
*.lst
*.log
tests/test_master.lst
oclcvenv/
